# 5CS037 - Concepts and Technologies of AI.
Exploratory Data Analysis - Part -II.

In [2]:
# Mounting drive to access datasests
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# importing necessary libraries
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# File path for required datasets
titanic_dataset_path = '/content/drive/MyDrive/Concepts and Technologies of AI/W3_dataset/Titanic-Dataset.csv'

# 3.1 Warm Up Exercises:
• Dataset for the Task: "titanic.csv"
1. Load the provided dataset and import in pandas DataFrame.
2. Check info of the DataFrame and identify following:

In [5]:
# Loading titanic dataset into pandas dataframe
titanic_dataset = pd.read_csv(titanic_dataset_path)

In [6]:
titanic_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
titanic_dataset.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
titanic_dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
titanic_dataset.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

# Problem 1 - Sorting:
1. Create a DataFrame called fare that contains only the Fare column of the Titanic dataset. Print the head of the result.

In [10]:
fare_data = titanic_dataset['Fare']
fare_data.head()

0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64

2. Create a DataFrame called class_age that contains only the Pclass and Age columns of the Titanic dataset, in that order. Print the head of the result.

In [11]:
class_age_data = titanic_dataset[['Pclass', 'Age']]
class_age_data.head()

   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

3. Create a DataFrame called survived_gender that contains the Survived and Sex columns of the Titanic dataset, in that order.Print the head of the result.

In [12]:
survived_gender = titanic_dataset[['Survived', 'Sex']]
survived_gender.head()

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

---
# Problem - 2 - Subsetting:
# Subsetting Rows:
1. Filter the Titanic dataset for cases where the passenger's fare is greater than 100, assigning it to fare_gt_100.  
View the printed result.

In [13]:
fare_gt_100 = titanic_dataset.loc[titanic_dataset['Fare'] > 100]
fare_gt_100.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.0000,C23 C25 C27,S
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.5208,B58 B60,C
195,196,1,1,"Lurette, Miss. Elise",female,58.0,0,0,PC 17569,146.5208,B80,C
215,216,1,1,"Newell, Miss. Madeleine",female,31.0,1,0,35273,113.2750,D36,C
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C
268,269,1,1,"Graham, Mrs. William Thompson (Edith Junkins)",female,58.0,0,1,PC 17582,153.4625,C125,S
269,270,1,1,"Bissette, Miss. Amelia",female,35.0,0,0,PC 17760,135.6333,C99,S
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.0,1,2,113781,151.5500,C22 C26,S

2. Filter the Titanic dataset for cases where the passenger's class (Pclass) is 1, assigning it to first_class.  
View the printed result.

In [14]:
first_class = titanic_dataset.loc[titanic_dataset['Pclass'] == 1]
first_class.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S

3. Filter the Titanic dataset for cases where the passenger's age is less than 18 and the passenger is female (Sex is "female"), assigning it to female_under_18.  
View the printed result.

In [15]:
female_under_18 = titanic_dataset.loc[(titanic_dataset['Age'] < 18) & (titanic_dataset['Sex'] == 'female')]
female_under_18.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,NaN,C
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C
58,59,1,2,"West, Miss. Constance Mirium",female,5.0,1,2,C.A. 34651,27.7500,NaN,S
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.0,4,2,3101281,7.9250,NaN,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.0,5,2,CA 2144,46.9000,NaN,S

# Subsetting Rows by Categorical variables:
1. Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S" (Southampton), assigning the result to embarked_c_or_s.  
View the printed result.

In [16]:
embarked_c_or_s = titanic_dataset[titanic_dataset['Embarked'].isin(['C','S'])]
embarked_c_or_s.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S

2. Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (indicating first or second class), assigning the result to first_second_class.   
 View the printed result.

In [17]:
first_second_class = titanic_dataset[titanic_dataset['Pclass'].isin([1,2])]
first_second_class.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S

---
#3.2 Exploratory Data Analysis Practice Exercise - 1.

In [18]:
# Since Age coulmn contains missing values, imputing age column with its median
titanic_dataset['Age'] = titanic_dataset['Age'].fillna(titanic_dataset['Age'].median())

Which passenger had the highest fare paid relative to their age?  
To answer the question perform following operations:
1. Add a column to the Titanic dataset, fare per year, containing the fare divided by the age of the passenger(i.e., Fare/Age).
2. Subset rows where fare per year is higher than 5, assigning this to high fare age.
3. Sort high fare age by descending fare per year, assigning this to high fare age srt.
4. Select only the Name and fare per year columns of high fare age srt and save the result as result.
5. Look at the result.

In [19]:
titanic_dataset['fare_per_year'] = titanic_dataset['Fare'] / titanic_dataset['Age']
high_fare_age = titanic_dataset[titanic_dataset['fare_per_year'] > 5]
high_fare_age_srt = titanic_dataset.sort_values(by='fare_per_year', ascending=False, inplace=False)
result = high_fare_age_srt[['Name', 'fare_per_year']]
result.head(10)

                                Name  fare_per_year
305   Allison, Master. Hudson Trevor     164.728261
297     Allison, Miss. Helen Loraine      75.775000
386  Goodwin, Master. Sidney Leonard      46.900000
164     Panula, Master. Eino Viljami      39.687500
183        Becker, Master. Richard F      39.000000
827            Mallet, Master. Andre      37.004200
78     Caldwell, Master. Alden Gates      34.939759
644           Baclini, Miss. Eugenie      25.677733
469    Baclini, Miss. Helene Barbara      25.677733
831  Richards, Master. George Sibley      22.590361

---
Which adult male passenger (age ≥ 18 and Sex is 'male') paid the highest fare relative to their class?
To answer the question perform following operations:
1. Add a column to the Titanic dataset, fare per class, containing the fare divided by the passenger
class i.e. Fare / Pclass.
2. Subset rows where the passenger is male (Sex is ”male”) and an adult (Age is greater than or equal
to 18), assigning this to adult males.
3. Sort adult males by descending fare per class, assigning this to adult males srt.
4. Select only the Name, Age, and fare per class columns of adult males sr and save the result
as result.
5. Look at the result.

In [20]:
titanic_dataset['fare_per_class'] = titanic_dataset['Fare'] / titanic_dataset['Pclass']
adult_males = titanic_dataset[(titanic_dataset['Age']>=18) & (titanic_dataset['Sex']=='male')]
adult_males_srt = adult_males.sort_values(by='fare_per_class', ascending=False, inplace=False)
result = adult_males_srt[['Name', 'Age', 'fare_per_class']]
result.head(10)

                                   Name   Age  fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
438                   Fortune, Mr. Mark  64.0        263.0000
27       Fortune, Mr. Charles Alexander  19.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208
557                 Robbins, Mr. Victor  28.0        227.5250
527                  Farthing, Mr. John  28.0        221.7792
377           Widener, Mr. Harry Elkins  27.0        211.5000
332           Graham, Mr. George Edward  38.0        153.4625
373                 Ringhini, Mr. Sante  22.0        135.6333

---
# 3.3 Exploratory Data Analysis with Group-by Method Practice Exercise:
  
What percent of the total fare revenue came from each passenger class?  
To answer the question perform following operation:
1. Calculate the total Fare paid across all passengers in the Titanic dataset.
2. Subset for passengers in first class (Pclass is 1) and calculate their total fare.
3. Do the same for second class (Pclass is 2) and third class (Pclass is 3).
4. Combine the fare totals from first, second, and third classes into a list.
5. Divide the totals for each class by the overall total fare to get the proportion of fare revenue by class.

In [33]:
total_fare = titanic_dataset['Fare'].sum()

first_class_fare = titanic_dataset[titanic_dataset['Pclass'] == 1]['Fare'].sum()
second_class_fare = titanic_dataset[titanic_dataset['Pclass'] == 2]['Fare'].sum()
third_class_fare = titanic_dataset[titanic_dataset['Pclass'] == 3]['Fare'].sum()

class_fare_list = [first_class_fare, second_class_fare, third_class_fare]

fare_by_class = {}
for i in range(len(class_fare_list)):
  fare_by_class[f'Class {i+1}'] = class_fare_list[i]/total_fare
print(f"Result using instructions : {fare_by_class}")

# Solving using Group-by method:
fare_by_class_group = titanic_dataset.groupby('Pclass')['Fare'].sum()
fare_proportions = fare_by_class_group/total_fare
print(f"Result using Group-by method : \n{fare_proportions}")

Result using instructions : {'Class 1': 0.6334928771899656, 'Class 2': 0.1324962855496507, 'Class 3': 0.23401083726038366}
Result using Group-by method :
Pclass
1    0.633493
2    0.132496
3    0.234011
Name: Fare, dtype: float64

---
What percent of the total number of passengers on the Titanic belonged to each age group (e.g., child, adult, senior)?  
To answer the question perform following operation:
1. Create a new column, age group, that categorizes passengers into "child" (age < 18), "adult" (age
18-64), and "senior" (age 65 and above).
2. Calculate the total number of passengers on the Titanic.
3. Count the number of passengers in each age group.
4. Divide the count of each age group by the total number of passengers to get the proportion of passengers
in each age group.
5. Display the proportion as a percentage.

In [34]:
def categorize_age(age):
  """
  Function to categorize age into child, adult and senior
  Parameters:
  age(int) : age of the person
  Returns:
  string : category of the person (child or adult or senior)
  """
  if age < 18:
      return 'child'
  elif 18 <= age < 65:
      return 'adult'
  else:
      return 'senior'

titanic_dataset['age_group'] = titanic_dataset['Age'].apply(categorize_age)
total_passengers = len(titanic_dataset)

child_count = len(titanic_dataset[titanic_dataset['age_group'] == 'child'])
adult_count = len(titanic_dataset[titanic_dataset['age_group'] == 'adult'])
senior_count = len(titanic_dataset[titanic_dataset['age_group'] == 'senior'])

count_by_age_group = [child_count, adult_count, senior_count]
passenger_category = ['child', 'adult', 'senior']

age_group_proportions = {}
for i in range(len(count_by_age_group)):
  age_group_proportions[f'Age Group {passenger_category[i]}'] = count_by_age_group[i]/total_passengers

print(f"Result using instructions : {age_group_proportions}")

# Solving using Group-by method
passenger_by_age_group = titanic_dataset.groupby('age_group').size()
age_group_proportions = passenger_by_age_group/total_passengers
print(f"Result using Group-by method : \n{age_group_proportions}")

Result using instructions : {'Age Group child': 0.12682379349046016, 'Age Group adult': 0.8608305274971941, 'Age Group senior': 0.012345679012345678}
Result using Group-by method :
age_group
adult     0.860831
child     0.126824
senior    0.012346
dtype: float64